@charset "utf-8";
/* 默认全局样式 */
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, form, legend, fieldset, input, button, select, textarea {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: "微软雅黑","黑体";
}

ol, ul, li {
    list-style: none;
}

img {
    border: 0;
}

body {
    background: #FFF;
    font-size: 14px;
    font-family: "微软雅黑","黑体";
    color:#333;
}

html {
    -webkit-text-size-adjust: none;
}

/*chrome font-size<12px */
/*清除浮动样式class="clearfix"*/
#pic-list{
    min-height: 300px;
    font-size:16px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #2085e6;
    text-decoration: underline;
}

/********** index2 style start **********/
#hearder2 {
    width: 1200px;
    margin: 0 auto;
}

#hearder2 .logo {
    width: 84px;
    height: 90px;
    float: left;
}

#hearder2 .logo img {
    width: 497px;
    height: 75px;
    margin-top: 10px;
    cursor: pointer;
}

#hearder2 .logo-name {
    width: 390px;
    height: 90px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #0f62c5;
    line-height: 90px;
    text-align: left;
}

#hearder2 .form-tools {
    width: 350px;
    height: 90px;
    float: right;
}

#hearder2 .form-tools .tools-link {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #0f62c5;
    text-align: right;
}

#hearder2 .form-tools .tools-link a {
    color: #0f62c5;
    text-decoration: none;
}

#hearder2 .form-tools .tools-link a:hover {
    color: #2085e6;
    text-decoration: underline;
}

#hearder2 .form-tools .search-box {
    width: 100%;
    height: 50px;
    position: relative;
}

#hearder2 .form-tools .search-box .input-text {
    width: 130px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 30px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
}

#hearder2 .form-tools .search-box .input-submit {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#menu-box {
    width: 100%;
    /*background: #0067ca;*/
    background: #2373c8;
}

#menu-box ul {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
}

#menu-box ul li {
    width: 108px;
    height: 48px;
    line-height: 48px;
    float: left;
    text-align: center;
    font-size: 17px;
}
#menu-box ul li.active{
    background: #0056a9;
}

#menu-box ul li:hover {
    background: #2085e6;
}

#menu-box ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 16px;
}
/* slider */
#slider-box {
    /*margin-top:5px;*/
    width: 100%;
    height: 260px;
    text-align: center;
    /*margin-bottom: 7px;*/
}

/* --- 通用样式 --- */
.title-box {
    width: 100%;
    /*float: left;*/
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ddd;


}

.title-box span{
    float: left;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    border-bottom: 2px solid #2373c8;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.title-more {
    float: right;
    color: #a1a1a1;
    font-size: 14px;
}

/* div1 */
#div1 {
    width: 1200px;
    margin: 0 auto;
}

#div1 .left260 {
    width: 258px;
    height: 260px;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

#div1 .left260 .uname {
    width: 206px;
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    margin: 30px 20px 0 20px;
}

#div1 .left260 .upass {
    width: 206px;
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    margin: 20px 20px 0 20px;
}

#div1 .left260 .t-link {
    width: 208px;
    height: 20px;
    padding: 5px;
    margin: 10px 20px 10px 20px;
}

#div1 .left260 .t-link .chek {
    margin: 0 5px 0 25px;
}

#div1 .left260 .t-link a {
    margin-left: 30px;
}

#div1 .left260 .input-login {
    width: 88px;
    height: 28px;
    background: #357dc3;
    border: 1px solid #357dc3;
    cursor: pointer;
    margin-left: 25px;
    color: #fff;
}

#div1 .left260 .input-login:hover {
    width: 88px;
    height: 28px;
    background: #fff;
    border: 1px solid #357dc3;
    cursor: pointer;
    margin-left: 25px;
    color: #357dc3;
}

#div1 .left260 .input-but {
    width: 88px;
    height: 28px;
    background: #fff;
    border: 1px solid #357dc3;
    cursor: pointer;
    margin-left: 25px;
    color: #357dc3;
}

#div1 .left260 .input-but:hover {
    background: #357dc3;
    border: 1px solid #357dc3;
    cursor: pointer;
    margin-left: 25px;
    color: #fff;
}

#div1 .center450 {
    width: 448px;
    height: 260px;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
}

#div1 .center450 p {
    padding: 10px;
    font-size: 12px;
    text-indent: 2em;
    line-height: 20px;
    color: #888;
}

#div1 .center450 p img {
    margin: 0 10px 10px 0;
}

#div1 .center450 p a {
    margin-left: 20px;
    color: #357dc3;
    font-size: 12px;
}

#div1 .right260 {
    width: 261px;
    height: 261px;
    float: right;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#div1 .right260 ul li {
    width: 86px;
    height: 76px;
    padding-top: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    text-align: center;
    font-size: 12px;
}

/* div2 */
#div2 {
    width: 1200px;
    margin: 15px auto;
}

#div2 .left260 {
    width: 258px;
    height: 260px;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

#div2 .left260 ul {
    padding: 10px;
}

#div2 .left260 ul li {
    width: 220px;
    height: 35px;
    padding-left: 15px;
    background: url(../images/li_ii.png) left center no-repeat;
    line-height: 35px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#div2 .center450 {
    width: 448px;
    height: 260px;
    float: left;
    border: 1px solid #ccc;
}

.tabbox {
    width: 448px;
    height: 260px;
    overflow: hidden;
}

.tabbox .tab {
    overflow: hidden;
    background: url(../images/tab-bg.png);
}

.tabbox .tab a {
    display: block;
    width: 149px;
    height: 35px;
    line-height: 35px;
    float: left;
    text-decoration: none;
    color: #666;
    text-align: center;
    font-size: 14px;
}

.tabbox .tab a:hover {
    background: #357dc3;
    color: #fff;
    text-decoration: none;
}

.tabbox .tab a.on {
    background: #357dc3;
    color: #fff;
    text-decoration: none;
}

.tabbox .content {
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 428px;
    height: 194px;
    overflow: hidden;
}

.tabbox .content .tb {
    width: 100%;
    height: 204px;
    overflow: hidden;
}

.tabbox .content .tb li {
    height: 35px;
    padding-left: 15px;
    background: url(../images/li_ii.png) left center no-repeat;
    line-height: 35px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    position: relative;
}

.tabbox .content .tb li a {
    width: 320px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.tabbox .content .tb li span {
    position: absolute;
    top: 0;
    right: 0;
    color: #bbb;
    font-size: 12px;
}

#div2 .right260 {
    width: 260px;
    height: 260px;
    float: right;
    border: 1px solid #ccc;
    overflow: hidden;
}

#div2 .right260 .video-box {
    width: 100%;
    height: 140px;
}

#div2 .right260 ul {
    padding: 10px;
}

#div2 .right260 ul li {
    width: 220px;
    height: 35px;
    padding-left: 15px;
    background: url(../images/li_ii.png) left center no-repeat;
    line-height: 35px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#div3 {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

#div3 img {
    width: 1200px;
    height: 100px;
}

#div4 {
    width: 1198px;
    height: 35px;
    margin: 15px auto;
    /*border: 1px solid #ccc;*/
}
#div44 {
      width: 1198px;
      height: 35px;
      margin: 15px auto;
      /*border: 1px solid #ccc;*/
  }
.opeimg{
    cursor: pointer;
}

/* scrollleft */
.scrollleft {
    width: 1200px;
    margin: 0 auto 15px auto;
}

.scrollleft li {
    float: left;
    margin-right: 7px;
    display: inline;
    width: 220px;
    text-align: center;
    line-height: 19px
}

.scrollleft img {
    width: 190px;
    height: 140px;
    padding: 10px;
    border: solid 1px #ddd;
}

#div5 {
    width: 100%;
    background: #f4f4f4;
    border-top: 1px solid #ccc;
}

#div5 .link-box {
    width: 1200px;
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
    font-size: 14px;
}

#div5 .link-box .select-link {
    padding: 3px 15px;
    margin-right: 50px;
    color: #666;
}

#div6 {
    width: 100%;
    /*height: 180px;*/
    background: #0067ca;
    color: #fff;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
    overflow: hidden;
}
#div66{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
    text-align: center;
}

/* detail & list page style */
#detail2-box {
    width: 1198px;
    margin: 0 auto;
    margin-top:10px;
    border: 1px solid #ececec;
    overflow: hidden;
    min-height: 750px;
}

#detail2-box .tit-80 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    float: left;
    border-bottom: 1px solid #f0f0f0;
    padding:10px 20px;
    margin-bottom: 6px;
}

#detail2-box .tit-80 a {
    float: left;
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
#detail2-box .tit-80 a:hover{
    text-decoration: none;
}

#detail2-box .tabula-box {
    width: 240px;
    background: url(../images/left-bg.jpg) right 50px no-repeat;
    padding: 10px;
    float: left;
}

#detail2-box .tabula-box .max-tit {
    /*width: 220px;*/
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #0f62c5;
    font-size: 18px;
    border-bottom: 1px dotted #ececec;
    /*margin-left: 10px;*/
}

#detail2-box .tabula-box ul {
    /*padding: 10px;*/
    min-height: 380px;
}

#detail2-box .tabula-box ul li {
    height: 55px;
    padding-left: 30px;
    line-height: 55px;
    font-size: 16px;
    border-bottom: 1px solid #ececec;
    /*background: url(../images/li2.png) left center no-repeat;*/
}
#detail2-box .tabula-box ul li.active{
    /*background: #0067ca;*/
    border-left:5px solid #0067ca;
}
#detail2-box .tabula-box ul li.active a{
    /*color:#fff;*/
}

#detail2-box .content-box {
    width: 1150px;
    padding: 20px 20px;
    float: right;
}

#detail2-box .content-box .content {
    padding: 0 0 20px 0;
    min-height: 600px;
}

#detail2-box .content-box .content img, table, td {
    max-width: 100%;
}

#detail2-box .content-box h1 {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dotted #ececec;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

#detail2-box .content-box .n-p-box {
    border-top: 1px dotted #0f62c5;
    font-size: 14px;
}

#detail2-box .content-box .n-p-box .prv {
    width: 47%;
    height: 50px;
    line-height: 50px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#detail2-box .content-box .n-p-box .next {
    width: 47%;
    height: 50px;
    line-height: 50px;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#detail2-box .content-box li.text {
    height: 40px;
    padding-left: 15px;
    background: url(../images/li_ii.png) left center no-repeat;
    line-height: 40px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    position: relative;
}

#detail2-box .content-box li.text a {
    width: 560px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

#detail2-box .content-box li.text span {
    position: absolute;
    top: 0;
    right: 0;
    color: #bbb;
    font-size: 12px;
}

#detail2-box .content-box h3 {
    line-height: 30px;
    text-align: center;
}

#detail2-box .content-box li.pic {
    width: 285px;
    margin-left: 10px;
    margin-bottom: 20px;
    float: left;
}

#detail2-box .content-box li.pic .img-box {
    width: 267px;
    height: 180px;
    margin-right: 10px;
    padding: 10px;
    /*border: 1px solid #ececec;*/
}

#detail2-box .content-box li.pic .img-box img {
    width: 257px;
    height: 180px;
}

/* 分页 */
.tcdPageCode {
    padding: 15px 20px;
    color: #ccc;
    text-align: center;
    margin-top: 40px;
    border-top: 1px dotted #0f62c5;
}

.tcdPageCode a {
    display: inline-block;
    color: #428bca;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}

.tcdPageCode a:hover {
    text-decoration: none;
    border: 1px solid #428bca;
}

.tcdPageCode span.current {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: 4px;
    vertical-align: middle;
}

.tcdPageCode span.disabled {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    vertical-align: middle;
}

#index1-div1,.index1-div1 {
    width: 1200px;
    margin: 15px auto 15px auto;
}

#index1-div1 .index1-left675 {
    width: 675px;
    height: 233px;
    float: left;
    overflow: hidden;
}

#index1-div1 .index1-left675 p {
    /*padding: 10px;*/
    margin-top:55px;
    font-size: 12px;
    font-size: 14px;
    line-height: 1.7;
    color: #888;
    text-indent: 2em;
}

#index1-div1 .index1-left675 p img {
    margin: 0 10px 10px 0;
}

#index1-div1 .index1-left675 p a {
    margin-left: 20px;
    color: #0aa6d6;
    font-size: 12px;
}

#index1-div1 .index1-right300,.index1-div1 .index1-right300 {
    width: 500px;
    height: 205px;
    float: right;
    overflow: hidden;
}

#index1-div1 .index1-right300 li,.index1-div1 .index1-right300 li {
    width: 100%;
    float: left;
    height: 45px;
    line-height: 45px;
    /*border-bottom: 1px solid #ddd;*/
    position: relative;
}


#index1-div1 .index1-right300 li a,.index1-div1 .index1-right300 li a {
    width:400px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    color: #333;
    font-size: 16px;
}

#index1-div1 .index1-right300 li span,.index1-div1 .index1-right300 li span {
    position: absolute;
    top: 0;
    right: 26px;
    color: #333;
    display: block;
}
.pic-title-content{
    /*height: 180px;*/
    height:50px;    
    overflow: hidden;
    width: 100%;
}
.pic-title-img{
    height: 200px;
    width: 200px;
    float:left;
}
.pic-title-img img{
    height: 200px;
    width: 163px;
}
.pic-title-title{
    /*padding-left:220px;*/
}
.pic-title-title span {
    font-size: 22px;
    text-align: center;
    color: #333333;
    line-height: 1.8;
    display: block;
    width: 100%;
    font-weight: 800;
}
.pic-title-title p{
    margin-top:20px;
    font-size: 16px;
    text-align: center;
}
.pic-content{
    /*margin-top:20px;*/
}
.pic-content table{
    width:100%;
    border:1px solid #888;
    border-collapse: collapse
}
.pic-content table td {
    border:1px solid #888;
    text-align: center;
    line-height: 2; 
}
.bottom-content{
    width: 1200px;
    float: left;
    position: relative;
    left: 50%;
    margin-left: -600px;
    background-color: #0067ca;
}

.bottom-content_b{
    width: 1000px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}
.bottom-content_left{
    width: 700px;
    margin-left: 25px;
    float: left;
}
.bottom-content_left-box{
    width: 100%;
    float: left;
}
.bottom-content_left-box-title{
    width: 100%;
    float: left;
    font-size: 17px;
    color: #fff;
    height: 17px;
    line-height: 1;
}
.bottom-content_left-box-title a{
    color:#fff;
}

.bottom-content_left img{
    display: none;
}
.bottom-content_left br{
    display:none;
}

.bottom-content_left-box-b{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.bottom-content_left-box-btm{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #abcaeb;
    line-height: 40px;
}
.bottom-content_left-box p{
    width: 50%;
    float: left;
}
.lxwm{
    padding:0px 30px;
}
.lxwm p{
    width: 100%;
    line-height: 2;
    /*float: left;*/
}
.gonggao-list{
    overflow: hidden;
    height: 44px;
    padding-left: 13px;
    background: url(icon.png) no-repeat left 22px;
    border-bottom: 1px dashed #dddddd;
}
.gonggao-list a{
    line-height: 44px;
    font-size: 16px;
    color: #333333;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.gonggao-list span{
    line-height: 44px;
    float: right;
    font-size: 16px;
    font-family: "微软雅黑","黑体";
    color: #999999;

}